# Usage: pip install -r requirements.txt
--extra-index-url https://download.pytorch.org/whl/cu116

# Base ----------------------------------------
matplotlib>=3.2.2
numpy==1.21.4
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch==1.12.1
torchvision==0.13.1
tqdm>=4.41.0
protobuf<=3.20.1

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export --------------------------------------
coremltools==5.2.0  # CoreML export
onnx==1.12.0  # ONNX export
onnxsim==0.4.8
tensorflow==2.10.0
tensorflow-addons==0.16.1
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.16.0
nvidia-pyindex==1.0.9
onnx-graphsurgeon
git+https://github.com/onnx/onnx-tensorflow.git@v1.10.0#egg=onnx_tf
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
psutil  # system utilization
thop  # FLOPs computation
# albumentations>=1.0.3
# pycocotools>=2.0  # COCO mAP
# roboflow

#
type_docopt==0.8.2
